# ingest_api.yaml
# Đẩy dữ liệu BMS0..BMS5 lên webserver bằng global API key

globals:
  - id: api_base_url
    type: std::string
    initial_value: '"http://192.168.1.17"'   # đổi IP webserver tại đây

  - id: api_key
    type: std::string
    initial_value: '"solarhagiang"'          # trùng với webserver

http_request:
  useragent: "6-pack-pin"
  timeout: 10s
  verify_ssl: false

interval:
  - interval: 300s
    then:
      - if:
          condition:
            wifi.connected:
          then:
            - http_request.post:
                url: !lambda |-
                  return id(api_base_url) + "/api/ingest.php";
                request_headers:
                  Content-Type: application/json
                json: |-
                  // Global API key + MAC
                  root["api_key"] = id(api_key);
                  root["mac"] = id(device_mac).state;
                  root["bms0"]["pack_voltage"]       = id(bms0_pack_voltage).state;
                  root["bms0"]["current"]            = id(bms0_current).state;
                  root["bms0"]["remaining_capacity"] = id(bms0_remaining_capacity).state;
                  root["bms0"]["total_capacity"]     = id(bms0_total_capacity).state;
                  root["bms0"]["Dien ap cell cao nhat"]     = id(bms0_max_cell_voltage).state;
                  root["bms0"]["Dien ap cell thap nhat"]     = id(bms0_min_cell_voltage).state;
                  root["bms0"]["Dong xa lon nhat"]     = id(bms0_maxdiscurt).state;
                  root["bms0"]["Dong sac lon nhat"]     = id(bms0_maxchgcurt).state;
                  root["bms0"]["Dong sac lon nhat"]     = id(bms0_maxchgcurt).state;
                  root["bms0"]["cell 1"]     = id(bms0_cell_1).state;
                  root["bms0"]["cell 2"]     = id(bms0_cell_2).state;
                  root["bms0"]["cell 3"]     = id(bms0_cell_3).state;
                  root["bms0"]["cell 4"]     = id(bms0_cell_4).state;
                  root["bms0"]["cell 5"]     = id(bms0_cell_5).state;
                  root["bms0"]["cell 6"]     = id(bms0_cell_6).state;
                  root["bms0"]["cell 7"]     = id(bms0_cell_7).state;
                  root["bms0"]["cell 8"]     = id(bms0_cell_8).state;
                  root["bms0"]["cell 9"]     = id(bms0_cell_9).state;
                  root["bms0"]["cell 10"]     = id(bms0_cell_10).state;
                  root["bms0"]["cell 11"]     = id(bms0_cell_11).state;
                  root["bms0"]["cell 12"]     = id(bms0_cell_12).state;
                  root["bms0"]["cell 13"]     = id(bms0_cell_13).state;
                  root["bms0"]["cell 14"]     = id(bms0_cell_14).state;
                  root["bms0"]["cell 15"]     = id(bms0_cell_15).state;
                  root["bms0"]["cell 16"]     = id(bms0_cell_16).state;

                  root["bms1"]["pack_voltage"]       = id(bms1_pack_voltage).state;
                  root["bms1"]["current"]            = id(bms1_current).state;
                  root["bms1"]["remaining_capacity"] = id(bms1_remaining_capacity).state;
                  root["bms1"]["total_capacity"]     = id(bms1_total_capacity).state;
                  root["bms1"]["Dien ap cell cao nhat"]     = id(bms1_max_cell_voltage).state;
                  root["bms1"]["Dien ap cell thap nhat"]     = id(bms1_min_cell_voltage).state;
                  root["bms1"]["Dong xa lon nhat"]     = id(bms1_maxdiscurt).state;
                  root["bms1"]["Dong sac lon nhat"]     = id(bms1_maxchgcurt).state;
                  root["bms1"]["Dong sac lon nhat"]     = id(bms1_maxchgcurt).state;
                  root["bms1"]["cell 1"]     = id(bms1_cell_1).state;
                  root["bms1"]["cell 2"]     = id(bms1_cell_2).state;
                  root["bms1"]["cell 3"]     = id(bms1_cell_3).state;
                  root["bms1"]["cell 4"]     = id(bms1_cell_4).state;
                  root["bms1"]["cell 5"]     = id(bms1_cell_5).state;
                  root["bms1"]["cell 6"]     = id(bms1_cell_6).state;
                  root["bms1"]["cell 7"]     = id(bms1_cell_7).state;
                  root["bms1"]["cell 8"]     = id(bms1_cell_8).state;
                  root["bms1"]["cell 9"]     = id(bms1_cell_9).state;
                  root["bms1"]["cell 10"]     = id(bms1_cell_10).state;
                  root["bms1"]["cell 11"]     = id(bms1_cell_11).state;
                  root["bms1"]["cell 12"]     = id(bms1_cell_12).state;
                  root["bms1"]["cell 13"]     = id(bms1_cell_13).state;
                  root["bms1"]["cell 14"]     = id(bms1_cell_14).state;
                  root["bms1"]["cell 15"]     = id(bms1_cell_15).state;
                  root["bms1"]["cell 16"]     = id(bms1_cell_16).state;

                  root["bms2"]["pack_voltage"]       = id(bms2_pack_voltage).state;
                  root["bms2"]["current"]            = id(bms2_current).state;
                  root["bms2"]["remaining_capacity"] = id(bms2_remaining_capacity).state;
                  root["bms2"]["total_capacity"]     = id(bms2_total_capacity).state;
                  root["bms2"]["Dien ap cell cao nhat"]     = id(bms2_max_cell_voltage).state;
                  root["bms2"]["Dien ap cell thap nhat"]     = id(bms2_min_cell_voltage).state;
                  root["bms2"]["Dong xa lon nhat"]     = id(bms2_maxdiscurt).state;
                  root["bms2"]["Dong sac lon nhat"]     = id(bms2_maxchgcurt).state;
                  root["bms2"]["Dong sac lon nhat"]     = id(bms2_maxchgcurt).state;
                  root["bms2"]["cell 1"]     = id(bms2_cell_1).state;
                  root["bms2"]["cell 2"]     = id(bms2_cell_2).state;
                  root["bms2"]["cell 3"]     = id(bms2_cell_3).state;
                  root["bms2"]["cell 4"]     = id(bms2_cell_4).state;
                  root["bms2"]["cell 5"]     = id(bms2_cell_5).state;
                  root["bms2"]["cell 6"]     = id(bms2_cell_6).state;
                  root["bms2"]["cell 7"]     = id(bms2_cell_7).state;
                  root["bms2"]["cell 8"]     = id(bms2_cell_8).state;
                  root["bms2"]["cell 9"]     = id(bms2_cell_9).state;
                  root["bms2"]["cell 10"]     = id(bms2_cell_10).state;
                  root["bms2"]["cell 11"]     = id(bms2_cell_11).state;
                  root["bms2"]["cell 12"]     = id(bms2_cell_12).state;
                  root["bms2"]["cell 13"]     = id(bms2_cell_13).state;
                  root["bms2"]["cell 14"]     = id(bms2_cell_14).state;
                  root["bms2"]["cell 15"]     = id(bms2_cell_15).state;
                  root["bms2"]["cell 16"]     = id(bms2_cell_16).state;

                  root["bms3"]["pack_voltage"]       = id(bms3_pack_voltage).state;
                  root["bms3"]["current"]            = id(bms3_current).state;
                  root["bms3"]["remaining_capacity"] = id(bms3_remaining_capacity).state;
                  root["bms3"]["total_capacity"]     = id(bms3_total_capacity).state;
                  root["bms3"]["Dien ap cell cao nhat"]     = id(bms3_max_cell_voltage).state;
                  root["bms3"]["Dien ap cell thap nhat"]     = id(bms3_min_cell_voltage).state;
                  root["bms3"]["Dong xa lon nhat"]     = id(bms3_maxdiscurt).state;
                  root["bms3"]["Dong sac lon nhat"]     = id(bms3_maxchgcurt).state;
                  root["bms3"]["Dong sac lon nhat"]     = id(bms3_maxchgcurt).state;
                  root["bms3"]["cell 1"]     = id(bms3_cell_1).state;
                  root["bms3"]["cell 2"]     = id(bms3_cell_2).state;
                  root["bms3"]["cell 3"]     = id(bms3_cell_3).state;
                  root["bms3"]["cell 4"]     = id(bms3_cell_4).state;
                  root["bms3"]["cell 5"]     = id(bms3_cell_5).state;
                  root["bms3"]["cell 6"]     = id(bms3_cell_6).state;
                  root["bms3"]["cell 7"]     = id(bms3_cell_7).state;
                  root["bms3"]["cell 8"]     = id(bms3_cell_8).state;
                  root["bms3"]["cell 9"]     = id(bms3_cell_9).state;
                  root["bms3"]["cell 10"]     = id(bms3_cell_10).state;
                  root["bms3"]["cell 11"]     = id(bms3_cell_11).state;
                  root["bms3"]["cell 12"]     = id(bms3_cell_12).state;
                  root["bms3"]["cell 13"]     = id(bms3_cell_13).state;
                  root["bms3"]["cell 14"]     = id(bms3_cell_14).state;
                  root["bms3"]["cell 15"]     = id(bms3_cell_15).state;
                  root["bms3"]["cell 16"]     = id(bms3_cell_16).state;

                  root["bms4"]["pack_voltage"]       = id(bms4_pack_voltage).state;
                  root["bms4"]["current"]            = id(bms4_current).state;
                  root["bms4"]["remaining_capacity"] = id(bms4_remaining_capacity).state;
                  root["bms4"]["total_capacity"]     = id(bms4_total_capacity).state;
                  root["bms4"]["Dien ap cell cao nhat"]     = id(bms4_max_cell_voltage).state;
                  root["bms4"]["Dien ap cell thap nhat"]     = id(bms4_min_cell_voltage).state;
                  root["bms4"]["Dong xa lon nhat"]     = id(bms4_maxdiscurt).state;
                  root["bms4"]["Dong sac lon nhat"]     = id(bms4_maxchgcurt).state;
                  root["bms4"]["Dong sac lon nhat"]     = id(bms4_maxchgcurt).state;
                  root["bms4"]["cell 1"]     = id(bms4_cell_1).state;
                  root["bms4"]["cell 2"]     = id(bms4_cell_2).state;
                  root["bms4"]["cell 3"]     = id(bms4_cell_3).state;
                  root["bms4"]["cell 4"]     = id(bms4_cell_4).state;
                  root["bms4"]["cell 5"]     = id(bms4_cell_5).state;
                  root["bms4"]["cell 6"]     = id(bms4_cell_6).state;
                  root["bms4"]["cell 7"]     = id(bms4_cell_7).state;
                  root["bms4"]["cell 8"]     = id(bms4_cell_8).state;
                  root["bms4"]["cell 9"]     = id(bms4_cell_9).state;
                  root["bms4"]["cell 10"]     = id(bms4_cell_10).state;
                  root["bms4"]["cell 11"]     = id(bms4_cell_11).state;
                  root["bms4"]["cell 12"]     = id(bms4_cell_12).state;
                  root["bms4"]["cell 13"]     = id(bms4_cell_13).state;
                  root["bms4"]["cell 14"]     = id(bms4_cell_14).state;
                  root["bms4"]["cell 15"]     = id(bms4_cell_15).state;
                  root["bms4"]["cell 16"]     = id(bms4_cell_16).state;

                  root["bms5"]["pack_voltage"]       = id(bms5_pack_voltage).state;
                  root["bms5"]["current"]            = id(bms5_current).state;
                  root["bms5"]["remaining_capacity"] = id(bms5_remaining_capacity).state;
                  root["bms5"]["total_capacity"]     = id(bms5_total_capacity).state;
                  root["bms5"]["Dien ap cell cao nhat"]     = id(bms5_max_cell_voltage).state;
                  root["bms5"]["Dien ap cell thap nhat"]     = id(bms5_min_cell_voltage).state;
                  root["bms5"]["Dong xa lon nhat"]     = id(bms5_maxdiscurt).state;
                  root["bms5"]["Dong sac lon nhat"]     = id(bms5_maxchgcurt).state;
                  root["bms5"]["Dong sac lon nhat"]     = id(bms5_maxchgcurt).state;
                  root["bms5"]["cell 1"]     = id(bms5_cell_1).state;
                  root["bms5"]["cell 2"]     = id(bms5_cell_2).state;
                  root["bms5"]["cell 3"]     = id(bms5_cell_3).state;
                  root["bms5"]["cell 4"]     = id(bms5_cell_4).state;
                  root["bms5"]["cell 5"]     = id(bms5_cell_5).state;
                  root["bms5"]["cell 6"]     = id(bms5_cell_6).state;
                  root["bms5"]["cell 7"]     = id(bms5_cell_7).state;
                  root["bms5"]["cell 8"]     = id(bms5_cell_8).state;
                  root["bms5"]["cell 9"]     = id(bms5_cell_9).state;
                  root["bms5"]["cell 10"]     = id(bms5_cell_10).state;
                  root["bms5"]["cell 11"]     = id(bms5_cell_11).state;
                  root["bms5"]["cell 12"]     = id(bms5_cell_12).state;
                  root["bms5"]["cell 13"]     = id(bms5_cell_13).state;
                  root["bms5"]["cell 14"]     = id(bms5_cell_14).state;
                  root["bms5"]["cell 15"]     = id(bms5_cell_15).state;
                  root["bms5"]["cell 16"]     = id(bms5_cell_16).state;

